<p>
    <mat-toolbar color="primary">
        <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
            [routerLink]="['/']"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <span
            id="title"
            class="title"
        >About</span>

        <span class="example-spacer"></span>
        <button
            mat-icon-button
            [routerLink]="['/']"
        >
            <mat-icon>keyboard_backspace</mat-icon>
        </button>

    </mat-toolbar>
</p>
<div style="padding: 10px;">
    <h2>METAMIND - Grupo de trabalho I2A2</h2>
    <h3>Trabalho 2 - Extraçao de dados</h3>
    <h3 id="author">Junho de 2025</h3>
    <a href="https://github.com/lyndontavares/poc-fastapi-llm-ocr">https://github.com/lyndontavares/poc-fastapi-llm-ocr</a>
    <a href="https://github.com/lyndontavares/poc-fastapi-llm-ocr-frontend">https://github.com/lyndontavares/poc-fastapi-llm-ocr-frontend</a>
</div>
