<app-block-ui [showIf]="processing"> 

<h1 mat-dialog-title id="mat-dialog-title"><strong>📤 {{action}} Nota</strong></h1>

<h3> Demonstra a extração de dados com IA. Versão utilizada: <span>gemini-2.0-flash</span></h3>

<div mat-dialog-content>

<div class="container">

<div class="half"> 


<div
  class="drop-zone"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (click)="fileInput.click()"
>
  <p>Arraste e solte uma imagem aqui</p>
  <button
    mat-raised-button
    color="primary"
    (click)="fileInput.click(); $event.stopPropagation()"
  >
    📁 Selecionar imagem
  </button>

  <input
    type="file"
    accept="image/*"
    hidden
    #fileInput
    (change)="onFileSelected($event)"
  />
</div>

<!-- Preview -->
<div class="preview" *ngIf="imagePreview">
  <img
    [src]="imagePreview"
    alt="Preview"
    (click)="zoomImage = true"
  />
</div>
 

<!-- Zoom modal -->
<div class="zoom-modal" *ngIf="zoomImage" (click)="zoomImage = false">
  <img [src]="imagePreview" alt="Zoom preview" />
</div>







</div>
<div class="half ">
  
<form [formGroup]="formGroup">
  <mat-form-field class="fw" *ngIf="action != 'Delete'; else elseTemplate" >
    <input placeholder="ID" matInput formControlName="id" readonly>
  </mat-form-field>

  <mat-form-field class="fw" *ngIf="action != 'Delete'; else elseTemplate" >
    <input placeholder="CNPJ" matInput formControlName="cnpj">
  </mat-form-field>

  <mat-form-field  class="fw" *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="Data emissão" matInput formControlName="data_emissao">
  </mat-form-field>

  <mat-form-field  class="fw" *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="Valor Pago" matInput formControlName="valor_total">
  </mat-form-field>
  
  <mat-form-field  class="fw" *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="Hash" matInput formControlName="imagem_hash" readonly  >
  </mat-form-field>

   <mat-form-field  class="fw" *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="Status" matInput formControlName="status" readonly  >
  </mat-form-field>

  <ng-template #elseTemplate>
    Deletar <b>{{local_data.id}} ?</b>?
  </ng-template>

 </form>
</div>
</div>


</div>

<hr/>
<div mat-dialog-actions  align="end">
 <div style="min-width: 102px"></div>
 <button id="action-button" mat-flat-button color="primary" (click)="doAction()"  [disabled]="!formGroup.valid || formGroup.controls['status'].value=='PROCESSADO'  " >✅ Gravar</button>
  <button id="close-button" mat-flat-button (click)="closeDialog()" mat-flat-button  >❌ Cancelar</button>
</div>

</app-block-ui>